.app{
    text-align: center;
}

body{
    background-color: darkcyan;
}

.search-input{
    width: 30%;
    margin: auto;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}